@using Microsoft.AspNetCore.Authentication

<h2>Claims</h2>

<dl>
	@foreach (var claim in User.Claims)
	{
		<dt>@claim.Type</dt>
		<dd>@claim.Value</dd>
	}

	usernaem : @User.Identity.Name + sss
</dl>

<h2>Properties</h2>
<a href="https://localhost:5007/counter" class="btn btn-success">go to blazor Application</a>
@if ((await Context.AuthenticateAsync()).Properties != null)
{
	<dl>

		@foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
		{
			<dt>@prop.Key</dt>
			<dd>@prop.Value</dd>
		}
	</dl>
}
